.service-item {
  margin-top: 20px;
}

.map-container {
  height: 100%;
}

.cover-bg {
  height: 400px;
  width: 100%;
  background: url('http://dummyimage.com/800x600/546E7A/e3e3e3&text=Titenonce')no-repeat center center;
  background-size: cover;
}

.showcase-list {
  margin-top: 50px;

  .shocase-bg {
    min-height: 400px;
    padding: 0;
    margin: 0;
    background: url('http://lorempicsum.com/futurama/800/200/2')no-repeat center center;
    background-size: cover;
  }

  .showcase-item {
    padding: 0;
    font-size: 20px!important;
    margin-top: 30px;
  }

  .showcase-text {
    padding: 10px;
    text-align: center;
  }
}
